<% provide(:title, 'Sign up') %>
<% provide(:buttontext, "Create My Account")%>
<h1>Sign up</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= render 'layouts/formstructure' %>
    </div>
</div>