<!DOCTYPE html>
<html>

<head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initialscale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinkstrack': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinkstrack': 'reload' %>
</head>

<body>
    <%= render "/layouts/header" %>
    <div class="container">
        <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%=message %></div>
        <% end %>

        <%= yield %>
        <%= render "/layouts/footer" %>
        <%= debug(params) if Rails.env.development? %>
    </div>

</body>


</html>